### Import Libraries

In [32]:
from aps_toolkit import Auth
import requests
import os

### Get Token

In [2]:
auth = Auth()

In [12]:
token = auth.auth2leg()

In [13]:
URN = "dXJuOmFkc2sud2lwcHJvZDpmcy5maWxlOnZmLnRfTFFVUDZoU3l5UXo5bm1sTE1FUHc_dmVyc2lvbj02"

### Get Metadata

In [16]:
# get manifest 
URL = f"https://developer.api.autodesk.com/modelderivative/v2/designdata/{URN}/manifest"
# add headers authorization
headers = {
    "Authorization": f"Bearer {token.access_token}"
}
# request
response = requests.get(URL, headers=headers)
json_respone = response.json()

In [33]:
# filter children in json_respone have minmeType is "application/autodesk-db" in derivatives/children/children
childrens = json_respone['derivatives'][0]["children"]
path  = ""
for child in childrens:
    if child["type"] == "resource" and child["mime"] == "application/autodesk-db":
        path = child["urn"]
        break
print(path)
host = "https://developer.api.autodesk.com/"
# get download link
URL = f"{host}modelderivative/v2/designdata/{URN}/manifest/{path}"
print("URL: ", URL)
# request
response = requests.get(URL, headers=headers)
# save db file
dir = "./output"
if not os.path.exists(dir):
    os.makedirs(dir)
with open("./output/result.db", "wb") as f:
    f.write(response.content)
    f.close()
print("Downloaded file result.db")

urn:adsk.viewing:fs.file:dXJuOmFkc2sud2lwcHJvZDpmcy5maWxlOnZmLnRfTFFVUDZoU3l5UXo5bm1sTE1FUHc_dmVyc2lvbj02/output/Resource/model.sdb
URL:  https://developer.api.autodesk.com/modelderivative/v2/designdata/dXJuOmFkc2sud2lwcHJvZDpmcy5maWxlOnZmLnRfTFFVUDZoU3l5UXo5bm1sTE1FUHc_dmVyc2lvbj02/manifest/urn:adsk.viewing:fs.file:dXJuOmFkc2sud2lwcHJvZDpmcy5maWxlOnZmLnRfTFFVUDZoU3l5UXo5bm1sTE1FUHc_dmVyc2lvbj02/output/Resource/model.sdb
Downloaded file result.db

### Read SQLite file

In [35]:
# read sqlite file
import sqlite3
db_file = "./output/result.db"
try:
    # Connect to the SQLite database
    conn = sqlite3.connect(db_file)

    # Create a cursor object to execute SQL queries
    cursor = conn.cursor()
    # Query the sqlite_master table to get the list of all tables
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

    # Fetch the results
    tables = cursor.fetchall()

    # Extract table names and print them
    for table in tables:
        print(table[0])

except sqlite3.Error as e:
    print(f"SQLite error: {e}")
finally:
    # Close the database connection when done
    conn.close()

_objects_id
_objects_attr
_objects_val
_objects_eav

### Object ID Reader

In [24]:
# Read data from _objects_attr
import pandas as pd
# Read data from _objects_id
conn = sqlite3.connect(db_file)
data_objects_id = pd.read_sql_query("SELECT * FROM _objects_id", conn)
data_objects_id.head(20)

    id                                    external_id viewable_id
0    1       doc_d14ee89f-34c9-4d58-ae27-c584f63353df        None
1    2  53c5330a-0a78-42d6-8dc2-cd7dde1d46b9-001522f7        None
2    3  53c5330a-0a78-42d6-8dc2-cd7dde1d46b9-001522f8        None
3    4  53c5330a-0a78-42d6-8dc2-cd7dde1d46b9-001522f9        None
4    5  53c5330a-0a78-42d6-8dc2-cd7dde1d46b9-001522fa        None
5    6  53c5330a-0a78-42d6-8dc2-cd7dde1d46b9-001522fb        None
6    7  53c5330a-0a78-42d6-8dc2-cd7dde1d46b9-001522fc        None
7    8  f9c62406-7c50-11d5-93b8-0000863f27ad-00001fdd        None
8    9  f9c62406-7c50-11d5-93b8-0000863f27ad-00001ff0        None
9   10  f9c62406-7c50-11d5-93b8-0000863f27ad-0000202d        None
10  11  627ad902-4aae-46a6-beef-a49c31eda294-000182a8        None
11  12  429ba882-f0a0-40fa-96e6-c6e02d9fc601-00022cda        None
12  13  ca7eea47-78b0-4362-94ea-4fc3e43a0f69-00034826        None
13  14  9ded8e03-925a-4acd-aca5-bcf206d241dc-00088c03        None
14  15  9ded8e03-925a-4acd-aca5-bcf206d241dc-00088c0d        None
15  16  9ded8e03-925a-4acd-aca5-bcf206d241dc-00088c17        None
16  17  9ded8e03-925a-4acd-aca5-bcf206d241dc-00088c21        None
17  18  4cec1bb0-afe8-449c-99b9-3cb8e6b577d6-000a4305        None
18  19  6412afbb-52e0-4e17-927b-ac384ad3738c-000a43ba        None
19  20  56aa1151-e631-4e8c-aa98-1110af032061-000acd73        None

### Object Attribute Reader

In [25]:
# Read data from _objects_attr
data_objects_id = pd.read_sql_query("SELECT * FROM _objects_attr", conn)
data_objects_id.head(20)

,id,name,category,data_type,data_type_context,description,display_name,flags,display_precision,forge_parameter
0,1,name,__name__,20,None,None,None,0,0,None
1,2,child,__child__,11,None,None,None,1,0,None
2,3,parent,__parent__,11,None,None,None,1,0,None
3,4,instanceof_objid,__instanceof__,11,None,None,None,1,0,None
4,5,hastable,__hastable__,11,None,None,None,1,0,None
5,6,viewable_in,__viewable_in__,20,None,None,None,1,0,None
6,7,xref,__externalref__,20,None,None,None,1,0,None
7,8,is_doc_property,__document__,1,None,None,None,3,0,None
8,9,schema_name,__document__,20,None,None,None,1,0,None
9,10,schema_version,__document__,20,None,None,None,1,0,None
10,11,hyperlink,__hyperlink__,20,None,None,None,1,0,None
11,12,node_flags,__node_flags__,2,None,None,None,1,0,None
12,13,Category,__category__,20,None,None,None,1,0,None
13,14,Organization Name,Identity Data,20,,None,Organization Name,0,0,None
14,15,Organization Description,Identity Data,20,,None,Organization Description,0,0,None
15,16,Building Name,Identity Data,20,,None,Building Name,0,0,None
16,17,Author,Identity Data,20,,None,Author,0,0,None
17,18,IfcSite GUID,IFC Parameters,20,,None,IfcSite GUID,0,0,None
18,19,IfcBuilding GUID,IFC Parameters,20,,None,IfcBuilding GUID,0,0,None
19,20,IfcProject GUID,IFC Parameters,20,,None,IfcProject GUID,0,0,None

### Object Value Reader

In [26]:
import pandas as pd
# Read data from _objects_val
data_objects_id = pd.read_sql_query("SELECT * FROM _objects_val", conn)
data_objects_id.head(20)

    id                                          value
0    1                                          Model
1    2                                            rvt
2    3                                            1.0
3    4                                              1
4    5                                 Revit Document
5    6                                    Exyte Group
6    7             Design, Engineering & Construction
7    8
8    9                                     Issue Date
9   10                                 Project Status
10  11                                          Owner
11  12                             Enter address here
12  13                                   Project Name
13  14                                 Project Number
14  15                                   Project Info
15  16                               Ground Floor FAC
16  17                                    Revit Level
17  18                                       -2000240
18  19                                              2
19  20  53c5330a-0a78-42d6-8dc2-cd7dde1d46b9-00152381

### Object EAV Reader

In [27]:
# Read data from _objects_attr
import pandas as pd
# Read data from _objects_id
data_objects_id = pd.read_sql_query("SELECT * FROM _objects_eav", conn)
data_objects_id.head(20)

    id  entity_id  attribute_id  value_id
0    1          1             1         1
1    2          1             9         2
2    3          1            10         3
3    4          1             8         4
4    5          1            13         5
5    6          1            14         6
6    7          1            15         7
7    8          1            16         8
8    9          1            17         8
9   10          1            18         8
10  11          1            19         8
11  12          1            20         8
12  13          1            21         9
13  14          1            22        10
14  15          1            23        11
15  16          1            24        12
16  17          1            25        13
17  18          1            26        14
18  19          1            27        15
19  20          1            28         8

In [29]:
# Define and execute the SQL query with a JOIN statement
conn = sqlite3.connect(db_file)
# Define and execute the SQL query with JOIN statements
query = """
SELECT _objects_id.external_id AS externalId, _objects_attr.category AS category,_objects_attr.display_name, _objects_val.value
FROM _objects_id
JOIN _objects_eav ON _objects_id.id = _objects_eav.entity_id
JOIN _objects_attr ON _objects_eav.attribute_id = _objects_attr.id
JOIN _objects_val ON _objects_eav.value_id = _objects_val.id
WHERE category NOT LIKE '\_\_%\_\_' ESCAPE '\\' 
ORDER BY externalId;
"""
data = pd.read_sql_query(query, conn)
data.head(20)

,externalId,category,display_name,value
0,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Identity Data,Image,
1,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Identity Data,Keynote,
2,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,IFC Parameters,Export to IFC,By Type
3,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,IFC Parameters,Export to IFC As,
4,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,IFC Parameters,IFC Predefined Type,
5,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,IFC Parameters,IfcGUID,00ni1A4jzDhPGViPFEiZIK
6,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Identity Data,Model,
7,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Identity Data,Manufacturer,
8,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Identity Data,Comments,
9,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Identity Data,URL,
10,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Identity Data,Description,
11,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Identity Data,Cost,0.0
12,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Identity Data,Mark,
13,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Identity Data,Workset,Materials
14,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Identity Data,Edited by,
15,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Materials and Finishes,Name,Phase - New
16,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Materials and Finishes,Color,5263440
17,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Materials and Finishes,Transparency,0
18,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Materials and Finishes,Glow,0.0
19,00c6c04a-12df-4dad-941f-b193ceb216ca-0000225e,Materials and Finishes,Smoothness,50

### Get All Categories

In [30]:
# Query filter return list 
conn = sqlite3.connect(db_file)
# Define and execute the SQL query with JOIN statements
query = """
SELECT _objects_id.external_id, _objects_attr.category,_objects_attr.display_name, _objects_val.value
FROM _objects_id
JOIN _objects_eav ON _objects_id.id = _objects_eav.entity_id
JOIN _objects_attr ON _objects_eav.attribute_id = _objects_attr.id
JOIN _objects_val ON _objects_eav.value_id = _objects_val.id
WHERE _objects_attr.name LIKE '_RC';
"""
df_categories = pd.read_sql_query(query, conn)
# get unique values from the category column
categories = df_categories['value'].unique()
# create a dataframe for categories
df_categories = pd.DataFrame(categories, columns=['category'])
df_categories.head(50)
df_categories.sort_values(by=['category'], inplace=True)
df_categories.head(50)

                                            category
0
35                                          <Sketch>
53                                     Air Terminals
5                                       Area Schemes
43                       Automatic Sketch Dimensions
19                            Building Type Settings
14                                           Cameras
61                                       Center Line
54                                       Center line
17                                 Color Fill Schema
42                                       Constraints
34                                      Detail Items
41                                        Dimensions
56                                  Duct Accessories
55                                     Duct Fittings
51                                      Duct Systems
52                                             Ducts
23              Electrical Demand Factor Definitions
57                              Electrical Equipment
28  Electrical Load Classification Parameter Element
24                   Electrical Load Classifications
2                                         Elevations
32                               Generic Annotations
45                                             Grids
18                               HVAC Load Schedules
16                                        HVAC Zones
13                                   Internal Origin
31                                 Legend Components
33                                             Lines
47                                         Matchline
29                                   Material Assets
1                                          Materials
58                              Mechanical Equipment
59                         Mechanical Equipment Tags
25           Panel Schedule Templates - Branch Panel
26             Panel Schedule Templates - Data Panel
27            Panel Schedule Templates - Switchboard
6                                             Phases
30                                     Pipe Segments
60                                             Pipes
62                                    Piping Systems
4                                   Primary Contours
22                                Project Base Point
10                               Project Information
48                                         RVT Links
9                                           Revision
44                      Revision Numbering Sequences
50                                         Room Tags
36                                             Rooms
63                                 Schedule Graphics

In [31]:
# unormalized data with columns : external_id, RevitCategory, ParameterCategory, ParameterName, DataType, DataTypeContext,ParameterValue
conn = sqlite3.connect(db_file)
# Define and execute the SQL query with JOIN statements
query = """
SELECT _objects_id.external_id, _objects_attr.category,_objects_attr.display_name, _objects_val.value
FROM _objects_id
JOIN _objects_eav ON _objects_id.id = _objects_eav.entity_id
JOIN _objects_attr ON _objects_eav.attribute_id = _objects_attr.id
JOIN _objects_val ON _objects_eav.value_id = _objects_val.id
WHERE _objects_attr.name LIKE '_RC';
"""
df_categories = pd.read_sql_query(query, conn)
# get unique values from the category column
categories = df_categories['value'].unique()
categories

array(['', 'Materials', 'Elevations', 'Views', 'Primary Contours',
       'Area Schemes', 'Phases', 'Shared Site', 'Work Plane Grid',
       'Revision', 'Project Information', 'Structural Load Cases',
       'Sun Path', 'Internal Origin', 'Cameras', 'Section Boxes',
       'HVAC Zones', 'Color Fill Schema', 'HVAC Load Schedules',
       'Building Type Settings', 'Space Type Settings', 'Survey Point',
       'Project Base Point', 'Electrical Demand Factor Definitions',
       'Electrical Load Classifications',
       'Panel Schedule Templates - Branch Panel',
       'Panel Schedule Templates - Data Panel',
       'Panel Schedule Templates - Switchboard',
       'Electrical Load Classification Parameter Element',
       'Material Assets', 'Pipe Segments', 'Legend Components',
       'Generic Annotations', 'Lines', 'Detail Items', '<Sketch>',
       'Rooms', 'Spaces', 'Title Blocks', 'Schedules', 'Text Notes',
       'Dimensions', 'Constraints', 'Automatic Sketch Dimensions',
       'Revision Numbering Sequences', 'Grids', 'Scope Boxes',
       'Matchline', 'RVT Links', 'Viewports', 'Room Tags', 'Duct Systems',
       'Ducts', 'Air Terminals', 'Center line', 'Duct Fittings',
       'Duct Accessories', 'Electrical Equipment', 'Mechanical Equipment',
       'Mechanical Equipment Tags', 'Pipes', 'Center Line',
       'Piping Systems', 'Schedule Graphics'], dtype=object)